page-home {
  button {
    display: block;
    clear: both;
    width: 100%;
    contain: strict;
    color: black;
    height: 50px;
    text-align: -webkit-center;
    vertical-align: middle;
  }
}
